
@font-face {
    font-family: "montserrat";
    src: url(Montserrat-Regular.woff2);
}

body {
    /* font-family: Arial, sans-serif; */
    font-family: "montserrat";
    /* background-color: #f4f4f4; */
    background-color:goldenrod;
    margin: 0;
    padding: 0;
     display: flex;
    /* justify-content: center;
    align-items: center; */ 
    
    /* align-items: flex-start; */
    /* height: 100vh; */
}


.card-container {
    width: 100%; /* Adjust this width to fit your design */
  }
  
 
  
  .card-grid {
    display: flex;
    flex-wrap: wrap; /* Allows cards to wrap onto the next line */
    flex-direction: row; /* Aligns the cards in a row */
    gap: 20px; /* Space between the cards */
    justify-content: center; 

  }
  
  .card-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 50%;
    box-sizing: border-box;
  }




